# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# =========================
# Django
# =========================
*.log
staticfiles/
media/
db.sqlite3

# =========================
# Environment variables
# =========================
.env
api/.env

# =========================
# Docker
# =========================
*.tar
*.pid

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Testing
# =========================
.coverage
htmlcov/
.pytest_cache/
tex1.txt
tex2.txt
tex3.txt
tex4.txt
tex5.txt
part1.txt
post.txt

ec2_knowledge.txt